.ikon{
    width: 65px;
}
.cim{
    display: inline;
    color: white;
    margin-left: 15px;
}
.navigacio{
    width: 350px;
    height: 100vh;
    position: fixed;
    /*background-color: #262D4720;*/
    background-image: url(./osszeshatter.png);
    box-shadow: inset 0 0 0 1000px rgba(38, 45, 71, 0.9);
}
.lenyilogenyo{
    display: inline;
}
button{
    float: right;
    border: none;
    color: white;
    background-color: transparent;
}
.linkek{
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: x-large;
    padding: 5px;
}
.linkek:hover, .linkek:active{
    color: white;
}
hr{
    color: white;
    border: 2px solid white;
}

.alpop, .aljazz, .alrock, .almetal, .alfolk, .alpunk {
    display: none;
}
ul{
    list-style-type: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.focim{
    font-size: x-large;
}
.bogyosize{
    font-size: x-large;
}
.fejlec{
    margin: 0 auto;
    padding-top: 15px;
}
.navkicsi{
    display: none;
}
@media screen and (max-width: 1100px) {
    .navigacio{
        display: none;
    }
    .navkicsi{
        display: inline;
    }
}