.mainjssw{
    width: calc(100% - 350px);
    color: white;
    float: right;
}

.jsswCim{
    color: white;
    text-align: center !important;
    margin: 15px;
}
.jsswLeiras{
    background-color: #262D4760;
    margin: 2%;
    border-radius: 15px;
    height: auto;
    font-size: xx-large;
    padding: 2%;
}
.jsswCsikok{
    background-color: #262D47;
    display: block;
    margin: 20px;
    border-radius: 50px;
    width: 90%;
    padding: 15px;
    font-size: larger;
    font-weight: bold;
}
.jsswIkon{
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}
.jsswZaszlo{
    width: 35px;
}
.jsswZaszloFo, .jsswEvszam, .jsswZNev, .jsswIkonKor{
    display: inline;
    margin-left: 2%;
}
.jsswEvszam{
    float: right;
    margin-bottom: 0px;
    font-size: larger;
    top: 50%;
}
.jsswZenekarszekcio{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.jsswBaloszlop, .jsswJobboszlop{
    display: grid;
    justify-items: center;
    width: 100%;
}
.jsswCarouselalap{
    background-color: #262D4760;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 50px;
}
.jsswCarousel{
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1100px)
{
    .mainjssw{
        width: 100%;
    }
}
@media screen and (max-width: 800px)
{
    .jsswZenekarszekcio{
        display: grid;
        grid-template-columns: auto;
    }
}
.jsswCarouselKep{
    width: 100%;
}